aiofiles
alyahmor
Arabic-Stopwords
arramooz-pysqlite
blinker
click
codernitydb3
coloredlogs
Flask
flask-cors
flatbuffers
humanfriendly
itsdangerous
Jinja2
joblib
libqutrub
MarkupSafe
mpmath
mysam-tagmanager
Naftawayh
numpy
onnxruntime
orjson
packaging
pickleDB
protobuf
PyArabic
qalsadi
scikit-learn
scipy
six
sympy
Tashaphyne
threadpoolctl
Werkzeug
gunicorn
